[*.rs]
indent_style = space
indent_size = 4

[*.nim]
indent_style = space
indent_size = 2

[*.purs]
indent_style = space
indent_size = 2

[*.ml]
indent_style = space
indent_size = 4

[*.fs]
indent_style = space
indent_size = 4
max_line_length = 80
fsharp_multiline_block_brackets_on_same_column = true

[Makefile]
indent_style = tab
indent_size = 2