[*.rs]
indent_style = space
indent_size = 4

[*.nim]
indent_style = space
indent_size = 2

[*.purs]
indent_style = space
indent_size = 2

[*.ml]
indent_style = space
indent_size = 4

[*.fs]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 2