.DS_Store
elm-stuff
npm-debug.log
.stack-work
target
_build
*.native
/fsharp/hello-world/obj
/fsharp/hello-world/bin
/fsharp/hello-world/TestResult.xml
/fsharp/hello-world/project.lock.json
TestResult.xml
**/bin/Debug/
**/bin/Release/
**/obj/Debug/
